body {
  background: linear-gradient(to right, #af68ea, #7d64e6)
}

.headerimage {
  position: absolute;
  top: 0%;
}


.headerimage img {
  width: 50vw;
  margin-left: 50%;
  margin-right: 25%;
  margin-top: 5%;
}

.deskshadow img {
  position: absolute;
  top: 10%;
  right: 15%;
}

.container {
  background-color: white;
  width: 80vw;
  text-align: center;
  margin: 26% 5% 0 5%;
  border-radius: 15px;
  padding: 20% 5% 25% 5%;
}


.attribution {
  margin-top: 10%;
}

.rotate {
  transform: scaleY(-1);
}